.contentColumn {
	border: 1px solid #CAC8CB;
}

.logoRow {
	padding: 20px;
	border-bottom: 1px solid #CAC8CB;
} 

.logoImg {
	background: url("../assets/logo.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 88px;
    width: 258px;
}

.chartTitle, .tableTitle {
	font-size: 20px;
	margin-left: 20px;
}

.tableRow {
	padding: 0px 20px;
}

.chartRow, .tableRow {
	padding-bottom: 5px;
	border-bottom: 1px solid #CAC8CB;
}

.pieChartView, .barChartView {
	height: 60%;
}

.calenderRow {
	padding-top: 20px;
	margin-bottom: 10px;
}

.toDatepickerHolder, .fromDatepickerHolder {
	float:right;
}

.toDatepickerHolder {
	padding: 0px 20px;
}

/* Style Customization for Table Comes here */
.tableRow .dataTables_wrapper {
	background-color: #D1D1D1;
}

.tableRow .dataTables_length, .tableRow .dataTables_filter {
	margin: 5px;
} 

.tableRow .dataTables_info {
	margin-left: 5px;
}

.tableRow thead {
	background-color: #C2C2C2;
} 
